<template>
    <div class="add-facility">
        <h5>ADD FACILITY</h5><br>
        <div>
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Facility Name</label>
                            <input v-model="name" class="form-control" type="text" placeholder="Enter Facility Name"/>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Field Name</label>
                            <input v-model="fieldName" class="form-control" type="text" placeholder="Enter Field Name"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Field Value</label>
                            <input v-model="fieldValue" class="form-control" type="text" placeholder="Enter Field Value"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <br>
                            <a @click="addField" href="javascript:void(0)" class="btn  bg-blue btn-block">+ ADD FIELD</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <app-table v-if="Allfields.length">
                            <thead class="bg-blue" slot="header">
                                <th>Field</th>
                                <th>Value</th>
                                <th>Remove</th>
                            </thead>
                            <tbody slot="body">
                                <tr v-for="(item, index) in Allfields" :key="index">
                                    <td>{{item.name}}</td>
                                    <td>{{item.value}}</td>
                                    <td><a href="javascript:void(0)" @click="removeField(index)" class="btn btn-sm bg-red">Remove</a></td>
                                </tr>
                            </tbody>
                        </app-table>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <div class="col-12">
                        <a href="javascript:void(0)" class="underlined-link">Add New Field</a>
                    </div>
                </div> -->
                <br><br>
                <div class="row">
                    <div class="col-12">
                       <label>Properties/Features</label>
                       <div class="properties">
                           <div class="property" v-for="(item, index) in properties" :key="index">
                               <input :id="item.id"  type="checkbox" :value="item.name"/> <label :for="item.id">{{item.name}}</label>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                         <div class="form-group">
                            <input v-model="propertyName" type="text" class="form-control" placeholder="Enter Property Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a @click="addProperty" href="javascript:void(0)" class="btn  bg-blue">+ ADD PROPERTY</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-4">
                       <button class="btn  bg-blue btn-block">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import AppTable from './../commons/table.vue'
export default {
    components: {AppTable},
    data () {
        return {
            name: '',
            fieldName: '',
            fieldValue: '',
            properties: [],
            Allfields: [],
            propertyName: ''
        }
    },
    methods: {
        addField () {
            if (!this.fieldName || !this.fieldValue) return
            this.Allfields.unshift({name: this.fieldName, value: this.fieldValue})
            this.fieldName = ''
            this.fieldValue = ''
        },
        addProperty () {
            if (!this.propertyName) return
            this.properties.push({name: this.propertyName, id: Math.random().toString(16).slice(2)})
            this.propertyName = ''
        },
        removeField (index) {
            this.Allfields.splice(index, 1)
        }
    }
}
</script>
