<template>
    <div>
      <div class="buttons">
        <h5 style="display: inline-block;">FACILITIES AND FEATURES</h5>
        <!-- <button class="btn  bg-blue float-right"><span>EDIT ROOM TYPE</span></button> -->
      <router-link :to="{name: 'addFacility'}" tag="button" class="btn  bg-blue float-right"> +  <span>ADD FACILITY</span></router-link>
      </div><br>
      <div class="tab-links">
        <a href="#">Conferencing room</a>
        <a href="#">Pool</a>
        <a href="#">gym, sports, etc</a>
        <a href="#">parking</a>
        <a href="#" class="view-all">view all</a>
      </div>
      <app-table>
        <tbody class="text-capitalize" slot="body">
          <tr></tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
       <tr>
          <td class="bg-blue">Conferencing Room</td>
          <td>Conference Room A</td>
          <td>Conference Room B</td>
       </tr>
        </tbody>
      </app-table>
      <br><br>
      <!-- <div class="float-right">
        <router-link :to="{name: 'RoomsDirectory'}" tag="a" href="javascript:void(0)" class="underlined-link">ROOM DIRECTORY >></router-link>
      </div> -->
    </div>
</template>
<script>
import AppTable from './../commons/table.vue';
export default {
    components: {AppTable}
}
</script>

<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
</style>
