<template>
    <div class="edit-profile">
        <h5>EDIT HOTEL INFORMATION</h5><br>
        <div>
            <form @submit.prevent="updateHotel">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label>Hotel Name</label>
                            <label class="text-danger float-right" v-if="errors.has('name')">{{errors.first('name')}}</label>
                            <input name="name" v-model="hotel.name" v-validate="'required'" class="form-control" type="text" placeholder="Enter Hotel Name"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label>Location Name</label>
                            <label class="text-danger float-right" v-if="errors.has('location')">{{errors.first('location')}}</label>
                            <input class="form-control" v-model="hotel.location" name="location" v-validate="'required'" type="text" placeholder="Enter Location name"/>
                        </div>
                    </div>
                     <!-- <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Longitude</label>
                            <label class="text-danger float-right" v-if="errors.has('longitude')">{{errors.first('longitude')}}</label>
                            <input class="form-control" v-model="hotel.longitude" name="longitude" v-validate="'required|decimal'" type="text" placeholder="Enter Longitude"/>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Latitude</label>
                            <label class="text-danger float-right" v-if="errors.has('latitude')">{{errors.first('latitude')}}</label>
                            <input class="form-control" v-model="hotel.latitude" name="latitude" v-validate="'required|decimal'" type="text" placeholder="Enter Latitude"/>
                        </div>
                    </div> -->
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="form-group">
                            <label>Contact</label>
                            <label class="text-danger float-right" v-if="errors.has('contact')">{{errors.first('contact')}}</label>
                            <input class="form-control" type="text" v-model="hotel.contact" name="contact" v-validate="'required|numeric|min:10'" placeholder="Enter Contact Phone"/>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-7">
                        <div class="form-group">
                            <label>Email</label>
                            <label class="text-danger float-right" v-if="errors.has('email')">{{errors.first('email')}}</label>
                            <input class="form-control" v-model="hotel.email" type="text" name="email" v-validate="'required|email'" placeholder="Enter Email"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Short Comment / Summary</label>
                            <label class="text-danger float-right" v-if="errors.has('summary')">{{errors.first('summary')}}</label>
                            <textarea style="border: 1px solid grey;" v-model="hotel.summary" rows="5" name="summary" v-validate="'required'" class="form-control" placeholder="Enter Summary here"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Rating</label>
                            <select class="form-control" style="padding-bottom:0px;" name="stars" v-model="hotel.rating">
                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Profile Image</label>
                            <br><br>
                            <input @change="uploadImage" class="form-control" type="file" style="display:none;" id="uploadFromComputer"/>
                            <label for="uploadFromComputer" class="text-capitalize text-blue for-image">upload from computer</label>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <br><br>
                            <label @click="showGallery" class="text-capitalize text-blue from-gallery for-image">Choose from Gallery</label>
                        </div>
                    </div>
                </div>
                 <br>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-4">
                       <button class="btn  bg-blue btn-block">SAVE CHANGES</button>
                    </div>
                </div>
               <app-modal v-if="fromGallery" :className="scaleUp">
                    <app-choose-from-gallery :v-model="image" @input="setImage">
                        <button @click.prevent="close" class="btn  bg-red float-right" slot="close">CLOSE</button>
                    </app-choose-from-gallery>
               </app-modal>
            </form>
        </div>
    </div>
</template>

<script>
import AppChooseFromGallery from './../gallery/chooseFromGallery.vue'
import AppModal from './../commons/modal.vue'
import {mapGetters} from 'vuex'

export default {
    data () {
        return {
            fromGallery: false,
            scaleUp: '',
            image: ''
        }
    },
    components: {AppChooseFromGallery, AppModal},
    computed: {
        ...mapGetters({
            hotel: 'getHotel'
        })
    },
    methods: {
        setImage(img) {
            this.hotel.image = img
        },
        showGallery() {
            this.fromGallery = true
            this.scaleUp = 'scale-up'
        },
        close () {
            this.fromGallery = false
        },
        updateHotel () {
            // return console.log(this.hotel)
            this.$validator.validateAll().then(result => {
                if (result) {
                    console.log(this.hotel)
                    this.axios({
                        method: 'post',
                        url: 'manager/hotel/edit',
                        data: this.hotel
                    }).then(response => {
                        this.$store.dispatch('updateHotel', this.hotel)
                    }).catch(err => console.log(err))
                }
            })
        },
        uploadImage (event) {
            let target = event.target
            if (target.files && target.files[0]) this.hotel.image = target.files[0]
        },
    },
    watch: {
        image () {
            console.log(this.image)
        }
    }
}
</script>


<style scoped>
.from-gallery{
    /* background: red; */
    margin-top: 10px;
}
.for-image{
    font-weight: bold;
    cursor: pointer;
}
.for-image:hover{
    color: grey;
}
</style>
