<template>
  <div>
   <div class="banner">
     <img src="/static/img/beach.jpg">
     <h1 class="text">{{hotel.name}}</h1>
   </div>
   <div class="body">
     <div class="row justify-content-center">
     <div class="col-12 col-sm-8 col-md-8">
       <h3>SUMMARY/SHORT COMMENTS</h3>
       <p>{{hotel.summary}}</p>
       <br>
       <h3>LOCATION</h3>
       <div>
         <p>{{hotel.location}}</p>
         <div class="map"></div>
       </div>
     </div>
     <div class="col-12 col-sm-4 col-md-4">
       <h4>RATING</h4>
       <div>
         <span v-for="rating in hotel.rating" :key="rating" class="star text-warning fa fa-star mr-2"></span>
       </div>
       <br/><br/><br>
       <h4>CONTACT</h4>
       <p>{{hotel.contact}}, {{hotel.email}}</p>
     </div>
   </div>
   </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  computed: {
    ...mapGetters({
      hotel: 'getHotel'
    })
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
  .banner{
    width: 100%;
    height: 400px;
    position: relative;
  }
  .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .banner:hover .banner::after{
    background: rgba(0, 0, 0, 0.1);
  }
  .banner h1{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 1;
  }
  .body{
    margin-top: 30px;
  }
  .map{
    width: 100%;
    height: 400px;
    background: grey;
  }
</style>
