@font-face {
  font-family: AvenirNextLight;
  src: url('/static/fonts/avenir/Avenir Light.otf');
}
@font-face {
  font-family: AvenirNextBold;
  src: url('/static/fonts/avenir/Avenir Next Bold.otf');
}

body, html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*{
  font-family: AvenirNextLight;
}
 .login-form h3{
   font-family: AvenirNextBold;
 }
 .bg-blue{
   background: #117ACB;
   color: white !important;
 }
.bg-blue i, .bg-blue a{
  color: white;
}
 .text-blue{
   color: #117ACB;
 }
 .text-black{
   color: #4a4a4a;
 }
 .bg-red{
   background: #d0021b;
   color: white;
 }
 .bg-light-green{
   background: #06D6A0;
   /* color: white; */
 }
 .bg-pink{
   background: #EF476F;
 }
 .bg-yellow{
   background: #FFC43D;
 }
 *{
   font-family: AvenirNextLight;
 }

 body{
  background: rgba(216, 216, 216, 0.15);
}
  .auth header{
    background: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    overflow: hidden;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
  }
  .auth header .logo{
    /*width: 10%;*/
    display: inline-block;
    /*background: red;*/
  }
  .auth header .logo img{
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .search-form{
    display: inline-block;
    width: 300px;
    margin: 0 0 0 100px;
    transition: margin 0.5s ease;
  }
  .search-form input{
    width: 100%;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    padding: 6px 30px 6px 30px;
    font-size: 15px;
    background-image: url("/static/img/search.png");
    background-repeat: no-repeat;
    background-position: 90% 7px;
    background-size: 20px 20px;
  }
  .search-form input::placeholder{
    font-size: 12px;
  }
  .user{
    display: inline-block;
    float: right;
    /*background: purple;*/
  }
  .user a{
    color: #4a4a4a;
    text-decoration: none;
  }
.bars{
  font-size: 30px;
  color: #117ACB !important;
  margin-left: 20px;
  display: none;
}
  .user a:hover{
    color: #117ACB;
  }
  .user img{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin-left: 20px;
  }
  .logout{
    font-size: 30px;
    display: inline-block;
    padding-left: 20px;
  }
  .auth aside.sidebar{
    width: 150px;
    height: 100%;
    position: fixed;
    background: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    transition: margin-left 0.5s ease-in;
    margin-top: 120px;
    top: 0;
    z-index: 9;
  }
  .sidebar ul{
    list-style-type: none;
    padding: 0;
    position: relative;
  }
  .sidebar ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 40px;
    border-right: 4px solid transparent;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 10px;
    position: relative;
  }
  .sidebar ul li{
    margin: 20px 0px 20px 0px;
    font-family: Lato;
  }
  .sidebar ul li a i{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    /*padding: 10px;*/
    /*background: #117ACB;*/
    color: #9b9b9b;
    border-radius: 40px;
    transition: width 1s;
  }
  .sidebar ul li a:hover, .activeLink a{
    border-right-color: #117acb;
  }
.sidebar ul li a:hover i{
  background: #117ACB;
  color: white;
}
  .sidebar ul li span{
    display: block;
    text-align: center;
    color: #4a4a4a;
  }
  .auth div.content{
    margin-left: 150px;
    margin-top: 115px;
    padding: 50px;
    transition: margin-left 1s ease-in;
  }
  .activeLink a i{
    background: #117ACB;
    color: white !important;
  }
  .activeLink a{
    border-right-color: #117ACB !important;
  }
  *{
    transition: display 0.5s ease-in;
  }
  i img{
    width: 40px;
    height: 40px;
    margin-top: -30px;
  }
  i img.white-icon{
    display: none;
  }
  i img.grey-icon{
    /*display: none;*/
  }
.sidebar ul li a:hover i img.grey-icon, .activeLink a i img.grey-icon{
  display: none;
}
.sidebar ul li a:hover i img.white-icon, .activeLink a i img.white-icon{
  display: inline;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  transition: opacity 1s ease-in;
  /*opacity: 1;*/
}
.fade-leave{
  /*opacity: 1;*/
}
.fade-leave-active{
  transition: opacity 1s;
  /*opacity: 0;*/
}
  @media screen and (max-width: 780px){
    .search-form{
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    .auth aside.sidebar{
      margin-left: -150px;
    }
    .auth div.content{
      margin-left: 0;
    }
    .user{
      clear: both;
      text-align: center;
      margin-top: auto;
      height: 80px;
      padding-top: 10px;
    }
    .user img{
      margin-left: 5px;
    }
    .search-form{
      /*display: none;*/
    }
    .username{
      display: none;
    }
    .bars{
      display: inline-block;
    }
  }

  table{
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  }
  th{
    color: white;
  }
  thead th, tr td{
    padding: 15px 20px;
    font-weight: normal;
    font-family: Lato;
  }
  tr td{
    color: #4a4a4a;
  }
  tr:nth-child(even){
    background-color: #d8d8d8;
  }
  .pages{
    letter-spacing: 10px;
  }
  .pages a{
    color: #4a4a4a;
    /*font-weight: bold;*/
    text-decoration: none;
    font-family: Lato;
  }
  .pages a:hover{
    color: #117ACB;
  }
  .previous, .next{
    letter-spacing: 0px;
    color: #117ACB !important;
  }

  .dashboard{
    width: 100%;
  }
  .dashboard-card{
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 20px 60px;
  }

  .dashboard-card .beach-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .dashboard-card .info{
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: auto;
    padding: 10px 30px;
    text-align: center;
    /*background: red;*/
    margin-top: 10px;
    width: calc(100% - 150px);
  }
  .dashboard-card .body{
    padding: 0 20px;
  }
  .info h1{
    font-size: 70px;
  }
  .dashboard-table{
    margin-top: 20px;
  }
  .dashboard-table p{
    font-family: Lato;
    margin-bottom: 20px;
  }

  .text-upper{
    text-transform: uppercase;
  }
  .text-lower{
    text-transform: lowercase;
  }
  .text-capitalize{
    text-transform: capitalize;
  }

  .underlined-link{
    color: #117acb;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #117ACB;
    text-decoration: none;
  }
  .underlined-link:hover{
    text-decoration: none;
    color: #4a4a4a;
    border-color: #4a4a4a;
  }

  .room-type-label{
    display: inline-block;
    margin-right: 10px;
  }
  .room-type-label .label-color{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .room-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
  }

  .room-list .item{
    display: flex;
    flex-direction: column;
    /* background: yellow; */
    justify-content: space-between;
    width: 120px;
    height: 120px;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
    border: 1px solid grey;
  }

  .room-list .item h5{
    font-weight: bold;
  }

  .room-list .item .room-label{
    width: 20px;
    height: 10px;
  }

  .room-list .item .info{
    display: flex;
    justify-content: space-between;
    /* background: blue; */
    align-items: center;
  }

  .room-list .item .info a, .room-list .item .info .room-label{
    display: inline-block;
    width: 40%;
  }

  .room-list .item .info a{
    /* background: purple; */
    display: inline-block;
    text-align: center;
    color: grey;
  }
  .room-list .item .info a:hover{
    color: #117ACB;
  }

  .tab-links{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .tab-links a{
    display: inline-block;
    padding: 5px 20px;
    color: black;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .tab-links a:hover, .tab-links a.activeTab{
    background: #117ACB;
    text-decoration: none;
    color: white;
  }
  .tab-links a.view-all{
    font-weight: bold;
  }

  .add-hotel{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  h5{
    font-family: Lato;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  h5 i{
    /*display: inline-block;*/
    background-color: rgba(155, 155, 155, 0.32);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  /*h5 a:hover i{*/
  /*background: red;*/
  /*color: white;*/
  /*}*/
  .add-hotel-form{
    padding: 30px;
  }
  .add-hotel-form .row{
    margin-bottom: 20px;
  }
  .form-control{
    padding: 10px;
    padding-bottom: 5px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dddddd;
    border-radius: 0px;
    transition: border-bottom-color 0.5s ease;
    background: transparent;
  }
  .form-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom-color: #117ACB;
    background: transparent;
  }
  .btn{
    border-radius: 20px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    display: inline-block;
    text-align: center;
    /* width: 40%; */
  }

  .properties{
    display: flex;
    flex-wrap: wrap;
  }
  .properties .property{
    /* background: red; */
    margin: 10px;
    display: flex;
    /* padding: 5px; */
    align-items: center;
    text-transform: capitalize;
  }
  .property input{
    margin-right: 10px;
  }
  .property label{
    /* background: blue; */
    display: inline-block;
    margin-top: 10px;
  }

  .choose-from-gallery{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.8);
    z-index: 8;
  }

  .choose-from-gallery .fix-gallery{
    width: 65%;
    height: 80%;
    background: white;
    margin: auto;
    position: relative;
    top: 14%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    /* background: red; */
  }

  .gallery-img{
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    /* cursor: pointer; */
  }

  .gallery-img::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(156, 157, 143, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  .gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-img .actions{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .gallery-img .actions .set-as-profile-img{
    color: #ffffff;
    display: inline-block;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 20px;
  }

  .gallery-img .actions .set-as-profile-img:hover{
    text-decoration: none;
    background: #117ACB;
  }

  .gallery-img .actions .view, .gallery-img .actions .delete{
      padding: 5px;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      background:transparent;
      border: 2px solid #ffffff;
      color: white;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-decoration: none;
  }

  .gallery-img .actions .view:hover{
      background: #117ACB;
  }
  .gallery-img .actions .delete:hover{
    background: #d0021b;
  }

  .gallery-img:hover .actions{
    display: flex;
  }

  .scale-up{
    -moz-animation: scaleup 0.3s ease-out both;
    -o-animation: scaleup 0.3s ease-out both;
    -webkit-animation: scaleup 0.3s ease-out both;
    animation: scaleup 0.3s ease-out both;
  }

  .scale-down{
    animation: scaleup 0.2s ease-out both;
    animation-direction: reverse;
  }

  @media screen and (max-width: 650px){
    .search-form{
      display: none;
    }
  }


/*.fade-enter-active, .fade-leave-active {*/
  /*transition: opacity 0.1s*/
/*}*/

/*.fade-enter, .fade-leave-active {*/
  /*opacity: 0;*/
/*}*/

@keyframes scaleup{
  0%{
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100%{
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}