<template>
  <div class="auth">
    <header>
      <div class="logo">
        <a href="javascript:void(0)">
          <img src="/static/logo/W3MSYS-png-colour.png"/>
        </a>
      </div>
      <div class="search-form">
        <input type="text" placeholder="Search Dashboard"/>
      </div>
      <div class="user">
        <a href="#">
          <span class="username">{{user.name}}</span>
          <img src="/static/img/avatar.jpg"/>
        </a>
        <a @click="logout" :to="{name: 'Login'}" tag="a" href="#" class="logout">
          <img  src="/static/img/w3msys-admin-icons/icon-logout%20@3x.png" style="width: 40px; height: 40px;"/>
        </a>
        <a href="#" class="bars" @click.prevent="toggleSidebar">
          <span class="fa fa-bars" v-if="sidebarHidden"></span>
          <span class="fa fa-times" v-else></span>
        </a>
      </div>
    </header>
    <aside class="sidebar" id="sidebar">
      <ul>
        <router-link :to="{name: 'Dashboard'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-summary@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-summary@3x.png"/>
            </i>
          </a>
          <span class="hide">Summary</span>
        </router-link>

         <router-link :to="{name: 'profile'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-manager@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-manager@3x.png"/>
            </i>
          </a>
          <span>Profile</span>
        </router-link>

        <router-link :to="{name: 'Rooms'}" tag="li" activeClass="activeLink">
          <a href="javascript:void(0)">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-hotel@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-hotel@3x.png"/>
            </i>
          </a>
          <span>Rooms</span>
        </router-link>

        <router-link :to="{name: 'facilities'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/icons/icon-facilities.png"/>
              <img class="white-icon" src="/static/img/icons/icon-facilities-active.png"/>
            </i>
          </a>
          <span>Facilities</span>
        </router-link>

        <router-link :to="{name: 'gellery'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/icons/icon-gallery.png"/>
              <img class="white-icon" src="/static/img/icons/icon-gallery-active.png"/>
            </i>
          </a>
          <span>Gallery</span>
        </router-link>


        <!-- <router-link :to="{name: 'Managers'}" tag="li" activeClass="activeLink">
          <a href="#">
            <i>
              <img class="grey-icon" src="/static/img/w3msys-admin-icons/icon-manager@3x.png"/>
              <img class="white-icon" src="/static/img/w3msys-admin-icons/icon-white/icon-manager@3x.png"/>
            </i>
          </a>
          <span>Managers</span>
        </router-link> -->
      </ul>
    </aside>
    <div class="content">
      <!--<transition name="fade" mode="out-in">-->
        <router-view></router-view>
      <!--</transition>-->
      <!--<app-delete-modal></app-delete-modal>-->
    </div>
  </div>
</template>
<script>
/* eslint-disable no-undef */
import {mapGetters, mapActions} from 'vuex'
export default {
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  mounted () {
    $('body').css({background: 'rgba(216, 216, 216, 0.15)'})
    this.setUser()
    this.setGallery()
    this.setRoomTypes()
  },
  data () {
    return {
      sidebarHidden: true
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('clearState')
      this.$auth.destroyToken()
      this.$router.push('/')
    },
    toggleSidebar () {
      let sidebar = document.getElementById('sidebar')
      if (this.sidebarHidden) {
        sidebar.style.marginLeft = 0
      } else {
        sidebar.style.marginLeft = '-150px'
      }
      this.sidebarHidden = !this.sidebarHidden
    },
    ...mapActions({
      setUser: 'setUser',
      setGallery: 'setGallery',
      setRoomTypes: 'setRoomTypes'
    })
  }
}
</script>
<style>

</style>
