<template>
     <div>
        <h5 class="text-blue mb-5 title" style="color:#60B9FD;">
            CHOOSE PROFILE IMAGE
            <slot name="close"></slot>
        </h5>
        <div class="row" v-if="gallery.length">
            <div class="col-12 col-sm-6 col-md-4" v-for="img in gallery" :key="img.id" >
                <div class="gallery-img" :style="{border: img.id === selected ? '5px solid #117ACB' : ''}">
                    <img :src="img.image">
                    <div class="actions">
                        <a @click="selectImage(img.image, img.id)" href="javascript:void(0)" class="set-as-profile-img">SET AS PROFILE IMAGE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-12">
                <h4 class="text-center">No Item in gallery</h4>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    props: ['value'],
    data () {
        return {
            selected: null
        }
    },
    computed: {
        ...mapGetters({
            gallery: 'getGallery'
        })
    },
    methods: {
        selectImage (url, id) {
            this.selected = id
            this.$emit('input', url)
        }
    }
}
</script>
