<template>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="gallery-img">
            <img :src="img.image">
            <div class="actions">
                <a href="javascript:void(0)" @click="showGallerImage(img)" class="view"><span class="fa fa-eye"></span></a>
                <a href="javascript:void(0)" class="delete"><span class="fa fa-times"></span></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['img']
}
</script>
