<template>
    <div class="gallery">
       <div class="buttons">
        <h5 style="display: inline-block;">GALLERY</h5>
      <button @click="showUploadModal" class="btn  bg-blue float-right"> +  <span>UPLOAD IMAGE</span></button>

      <app-modal :className="showModal" v-if="showModal">
          <div class="upload-image" style="padding:50px;">
              <h4 class="text-blue">UPLOAD IMAGE
                  <button @click.prevent="close" class="btn  bg-red float-right">CLOSE</button>
              </h4>
              <br><br><br>
             <label>Image File</label>
            <input type="file" style="display:none;" id="upload" @change="uploadFromPC">
            <div class="image-button">
                <div class="row">
                    <div class="col-8 text-left">
                        <div class="form-group">
                            <input type="text" class="form-control" style="margin-bottom:-18px;border-bottom-color:grey;" v-model="imgName">
                        </div>
                    </div>
                    <div class="col-4 text-right"> <label class="text-blue" for="upload" style="cursor:pointer;">choose image</label></div>
                </div>
            </div>
            <br><br><br>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <button @click="submit" class="btn  bg-blue btn-block">SUBMIT</button>
                </div>
            </div>
          </div>
      </app-modal>

      <app-modal :class-name="showImage" v-if="showImage">
          <div class="view-img" style="background:white;">
              <div><button @click.prevent="close" class="btn  bg-red float-right">CLOSE</button></div>
              <img :src="selectedImg.image" style="object-fit:cover;">
          </div>
      </app-modal>

      </div><br><br>
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4" v-for="(img, index) in gallery" :key="index">
                <div class="gallery-img">
                    <img :src="img.image">
                    <div class="actions">
                        <a href="javascript:void(0)" @click="showGallerImage(img)" class="view"><span class="fa fa-eye"></span></a>
                        <a href="javascript:void(0)" class="delete" @click="deleteGalleryImage(img)"><span class="fa fa-times"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import AppModal from './../commons/modal.vue'
import {mapGetters, mapActions} from 'vuex'
export default {
    components: {AppModal},
    data () {
        return {
            showModal: '',
            showImage: '',
            selectedImg: '',
            uploadedImage: null,
            imgName: ''
        }
    },
    computed: {
        ...mapGetters({
            gallery: 'getGallery'
        })
    },
    methods: {
        ...mapActions({
            addToGallery: 'addToGallery',
            deleteFromGallery: 'deleteFromGallery'
        }),
        showUploadModal () {
            this.showModal = 'scale-up'
        },
        showGallerImage (img) {
            this.showImage = 'scale-up'
            this.selectedImg = img
        }, 
        deleteGalleryImage (img) {
            this.deleteFromGallery(img.id)
        },
        close () {
            this.showModal = ''
            this.showImage = ''
        },
        uploadFromPC (event) {
            let files = event.target.files
            if (files && files[0] ) {
                this.uploadedImage = files[0]
                this.imgName = this.uploadedImage.name.split('.')[0]
            } else {
                this.uploadedImage = null
                this.imgName = ''
            }
        },
        submit () {
            if(this.uploadedImage) {
                let formData = new FormData()
                formData.append('name', this.imgName)
                formData.append('image', this.uploadedImage)
                this.axios({
                    method: 'post',
                    url: 'manager/hotel/gallery/new',
                    data: formData
                }).then(response => {
                    this.addToGallery(response.data)
                    this.imgName = ''
                    this.uploadedImage = null
                    this.showModal = ''
                    this.showImage = ''
                    // console.log(response.data)
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    }
}
</script>
<style scoped>
.image-button{
    border-bottom: 2px solid grey;
    margin-top: 50px;
    padding-right: 20px;
    /* background: blue; */
    text-align: right;
}
.view-img{
    height: 100%;
    width: 100%;
    background: red;
    position: relative;
}
.view-img .btn{
    position: absolute;
    top: 10px;
    right: 10px;
}
.view-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
