<template>
    <div class="add-facility">
        <h5>ADD ROOM TYPE</h5><br>
        <div>
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Type Name</label>
                             <input class="form-control" type="text" placeholder="Enter Name of Room Type"/>
                        </div>
                    </div>
                     <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Price Per Night</label>
                            <div class="row no-gutters">
                              <div class="col-5">
                                 <select class="form-control">
                                  <option>GHS</option>
                                  <option>USD</option>
                                  <option>EUR</option>
                                </select>
                              </div>
                              <div class="col-7">
                                <input style="margin-top:-3px;" class="form-control" type="text" placeholder="Enter Price"/>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                          <label>Number of Rooms</label>
                          <input class="form-control" type="text" placeholder="Enter Number of rooms"/>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12">
                       <label>Amenities</label>
                       <div class="properties">
                           <div class="property">
                               <input id="prop1"  type="checkbox"/> <label for="prop1">property name</label>
                           </div>
                           <div class="property">
                               <input id="prop2"  type="checkbox"/> <label for="prop2">property name</label>
                           </div>
                           <div class="property">
                               <input id="prop3"  type="checkbox"/> <label for="prop3">property name</label>
                           </div>
                           <div class="property">
                               <input id="prop4"  type="checkbox"/> <label for="prop4">property name</label>
                           </div>
                           <!-- <div class="property"> <a href="javascript:void(0)" class="underlined-link">Add New Property</a></div> -->
                       </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-4">
                       <button class="btn  bg-blue btn-block">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
