<template>
    <div class="add-facility">
        <h5>ADD ROOM</h5><br>
        <div>
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Room Name / Number</label>
                            <input type="text" class="form-control" placeholder="Enter Room name or number">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>Type Name</label>
                            <select class="form-control" style="padding-bottom:0px;">
                              <option>Ordinary</option>
                              <option>Moderate</option>
                              <option>Executive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-4">
                       <button class="btn  bg-blue btn-block">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
