<template>
    <div>
      <div class="buttons">
        <h5 style="display: inline-block;">ROOM TYPE</h5>
        <router-link :to="{name: 'editRoomType'}" tag="button" class="btn  bg-blue float-right"><span>EDIT ROOM TYPE</span></router-link>
      <router-link :to="{name: 'addRoomType'}" tag="button" class="btn  bg-blue float-right"> +  <span>ADD ROOM TYPE</span></router-link>
      </div><br>
      <app-table>
        <tbody class="text-capitalize" slot="body">
          <tr></tr>
       <tr>
          <td class="bg-blue">Type Name</td>
          <td>Ordinary</td>
          <td>Moderate</td>
          <td>Executive</td>
       </tr>

       <tr>
          <td class="bg-blue">Best price</td>
          <td>GHC 50/night</td>
          <td>GHC 200/night</td>
          <td>GHC 700/night</td>
       </tr>
       <tr>
          <td class="bg-blue">Number Of Rooms</td>
          <td>42</td>
          <td>12</td>
          <td>5</td>
       </tr>

       <tr>
          <td class="bg-blue">TV</td>
          <td>yes</td>
          <td>yes</td>
          <td>yes</td>
       </tr>

       <tr>
          <td class="bg-blue">Fridge</td>
          <td>No</td>
          <td>No</td>
          <td>Yes</td>
       </tr>

       <tr>
          <td class="bg-blue">AC/Fan</td>
          <td>Fan</td>
          <td>AC</td>
          <td>Both</td>
       </tr>

       <tr>
          <td class="bg-blue">Water Heater</td>
          <td>yes</td>
          <td>yes</td>
          <td>yes</td>
       </tr>
        
        </tbody>
      </app-table>
      <br><br>
      <div class="float-right">
        <router-link :to="{name: 'RoomsDirectory'}" tag="a" href="javascript:void(0)" class="underlined-link">ROOM DIRECTORY >></router-link>
      </div>
    </div>
</template>
<script>
import Table from '../commons/table.vue'
export default {
  components: {
    AppTable: Table,
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
</style>
