<template>
    <div>
      <div class="buttons">
        <div style="display: inline-block;">
          <div class="room-type-label">
            <span class="label-color bg-light-green"></span>
            <span class="label-name">Ordinary (₵ 200/Night)</span>
          </div>
          <div class="room-type-label">
            <span class="label-color bg-pink"></span>
            <span class="label-name">Moderate (₵ 300/Night)</span>
          </div>
          <div class="room-type-label">
            <span class="label-color bg-yellow"></span>
            <span class="label-name">Executive (₵ 500/Night)</span>
          </div>
        </div>
      <router-link :to="{name: 'addRoom'}" tag="button" class="btn  bg-blue float-right"> +  <span>ADD ROOM</span></router-link>
      </div><br><br>
      <div class="room-list">
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <router-link :to="{name: 'editRoom'}" tag="a" href="javascript:void(0)"><span class="fa fa-pencil"></span></router-link>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
           <router-link :to="{name: 'editRoom'}" tag="a" href="javascript:void(0)"><span class="fa fa-pencil"></span></router-link>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <router-link :to="{name: 'editRoom'}" tag="a" href="javascript:void(0)"><span class="fa fa-pencil"></span></router-link>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <router-link :to="{name: 'editRoom'}" tag="a" href="javascript:void(0)"><span class="fa fa-pencil"></span></router-link>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
        <div class="item">
          <h5>R #W1</h5>
          <div class="info">
            <span class="room-label bg-pink"></span>
            <a href="#"><span class="fa fa-pencil"></span></a>
          </div>
        </div>
      </div>
      <br><br>
      <div>
        <router-link :to="{name: 'Rooms'}" tag="a" href="javascript:void(0)" class="underlined-link float-left">&lt;&lt; ROOM TYPE</router-link>
        <div class="pages text-center p-3 float-right">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#" class="next">Next</a>
        </div>
      </div>
      <app-edit :goBack="cancelEdit" :hotel="selectedHotel" v-if="!home">
        <a href="#" @click.prevent="cancelEdit" class="float-right">
          <span class="fa fa-times"></span>
        </a>
      </app-edit>
    </div>
</template>
<script>
import Table from '../commons/table.vue'
// import EditHotel from './editRoom.vue'
import Delete from '../commons/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
      home: true,
      showDelete: false,
      selectedHotel: {},
      hotelToDelete: '',
      deleting: false,
      status: {hasError: null, message: ''}
    }
  },
  components: {
    AppTable: Table,
    // AppEdit: EditHotel,
    AppDeleteModal: Delete
  },
  computed: {
    ...mapGetters({
      hotels: 'getHotels'
    }),
    hotelName () {
      if (this.hotelToDelete.name.indexOf('Hotel') === -1 && this.hotelToDelete.name.indexOf('hotel') === -1) {
        return `${this.hotelToDelete.name} Hotel`
      }
      return this.hotelToDelete.name
    }
  },
  methods: {
    edit (hotel) {
      // console.log('editing hotel')
      this.home = false
      this.selectedHotel = hotel
    },
    cancelEdit () {
      this.home = true
    },
    confirmDelete (hotel) {
      this.deleting = false
      this.status = {hasError: null, message: ''}
      this.hotelToDelete = hotel
      this.showDelete = true
    },
    deleteHotel () {
      this.status.hasError = null
      this.status.message = ''
      this.deleting = true
      this.axios({
        method: 'get',
        url: `hotels/${this.hotelToDelete.id}/delete`
      }).then((response) => {
        // console.log(response)
        this.$store.dispatch('removeHotel', this.hotelToDelete.id)
        // this.showDelete = false
        this.status.hasError = false
        this.status.message = `${this.hotelName} has been deleted successfuly`
        this.deleting = false
      }).catch(error => {
        // this.showDelete = false
        this.status.hasError = true
        this.status.message = `Something unexpected happened, ${this.hotelName} could not be deleted, try again later`
        this.deleting = false
        console.log(error)
      })
      // setTimeout(function () {
      //   console.log('deleted')
        
      // }, 1000)
    },
    cancelDelete () {
      this.showDelete = false
    }
  }
}
</script>
<style scoped>
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .btn span{
    padding-left: 20px;
    color: white;
  }
  .btn:hover{
    background: rgba(0, 0, 0, 0.2);
  }
</style>
