<template>
  <div class="dashboard">
    <div class="dashboard-card">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2">
          <img class="beach-img" :src="hotel.image"/>
        </div>
        <div class="col-12 col-sm-9 col-md-10">
          <div class="row">
            <div class="col-12 col-sm-9 col-md-10">
              <div class="body">
                <h4 class="text-upper">basic info</h4>
                <h3 class="text-capitalize text-blue">{{hotel.name}}</h3>
                <p class="text-upper">{{hotel.location}}</p>
                <br/>
                <h4 class="text-upper">summary</h4>
                <p>{{hotel.summary}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-3 col-md-2">
              <h4 class="text-upper">Rating</h4>
              <div>
                <span v-for="item in hotel.rating" :key="item" class="fa fa-star text-warning"></span>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-12 col-sm-9 col-md-10">
              <div class="body">
                <h4 class="text-upper">Contact</h4>
                
                <p>
                  {{hotel.contact}}, {{hotel.email}}
                </p>
              </div>
            </div>
            <div class="col-12 col-sm-3 col-md-2">
              <br>
              <router-link :to="{name: 'profile'}" tag="a" href="javascript:void(0)" class="underlined-link">Edit Profile</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="dashboard-table">
          <p>Available Rooms</p>
          <app-table>
            <thead class="bg-blue" slot="header">
            <th>Room Type</th>
            <th>Quantity</th>
            <!-- <th>Contact</th> -->
            <!-- <th>Manager</th> -->
            </thead>
            <tbody slot="body">
            
            </tbody>
            <div class="pages text-center p-3" slot="pagination">
              <!--<a href="#" class="previous">Previous</a>-->
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#" class="next">Next</a>
            </div>
          </app-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AppTable from '../commons/table.vue'
import {mapGetters} from 'vuex'
export default {
  components: {
    AppTable
  },
  computed: {
    ...mapGetters({
      hotel: 'getHotel'
    })
  }
}
</script>
<style>
  
</style>
