<template>
    <div class="choose-from-gallery">
        <div class="fix-gallery" :class="className">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: ['className']
}
</script>
