<template>
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-8 col-xl-8 offset-sm-1 offset-md-2 offset-lg-2 offset-xl-2">
        <div class="login-page">
          <img src="/static/logo/logo-white.png"/>
          <h3><b>HOTEL</b> <span>MANAGER</span></h3>
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6 offset-sm-2 offset-md-2 offset-lg-3 offset-xl-3">
              <div class="login-form">
                <h1>404 Not Found</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</template>

<script>
</script>

<style>
body{
  background: #117ACB;
}
  .login-page{
    text-align: center;
    margin-top: 70px;
    display: none;
  }
  .login-page h3{
    color: white !important;
    font-family: AvenirNextLight;
    font-weight: normal !important;
  }
  .login-form h3 b{
    font-family: AvenirNextBold;
  }
  .login-form{
    width: 80%;
    margin: 90px auto 0 auto;
    text-align: center;
  }
  .login-form p{
    color: white;
    margin-bottom: 50px;
  }
  .login-form input{
    transition: 0.5s ease;
    text-align: center;
    background: #117ACB;
    margin-bottom: 50px;
    color: white !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    outline: none;
  }
  .login-form input:focus{
    background: #117ACB;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-color: white;
    box-shadow: none;
  }
  .login-form input::placeholder{
    text-align: center;
    color: white;
    font-family: AvenirNextLight;
    letter-spacing: 0.6px;
  }
  .login-form .button{
    background: white;
    color: #117ACB;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
  }
  .login-form .button:hover{
    color: white;
    border-color: white;
    background: #117ACB;
  }
.login-form .button:active{
  background: white;
  color: #117ACB;
}
</style>
