<template>
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-8 col-xl-8 offset-sm-1 offset-md-2 offset-lg-2 offset-xl-2">
        <div class="login-page" v-if="!firstTime">
          <img src="/static/logo/logo-white.png"/>
          <h3><b>HOTEL</b> <span>MANAGER</span></h3>
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-6 col-xl-6 offset-sm-2 offset-md-2 offset-lg-3 offset-xl-3">
              <div class="login-form">
                <form @submit.prevent="login">
                  <p v-if="authFailed">Login failed. Invalid Credentials</p>
                  <input type="text" v-model="username" placeholder="Username" class="form-control"/>
                  <input type="password" v-model="password" placeholder="Password / Token" class="form-control"/>
                  <button type="submit" class="btn btn-block button" v-if="!loading">Login</button>
                  <a href="javascript:void(0)" class="btn btn-block button" v-else><span class="fa fa-spinner fa-spin"></span> loading...</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <app-modal :class-name="showModal" v-if="showModal">
          <h3 class="text-center text-blue"> Welcome {{manager.name}}</h3><br>
          <div class="text-center" style="padding: 20px;">
            You're logging in with a generated password, 
            we need you to enter a new password for this account.
             Take note that you will need to login with this password 
             from now onwards. Thank you.
          </div>
          <br><br>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Enter New Password</label>
                <p class="text-danger" v-if="errors.has('password')">{{errors.first('password')}}</p>
                <input v-model="newPassword" name="password" v-validate="'required|min:6'" type="password" class="form-control" placeholder="Enter New Password">
              </div>
              <br><br>
              <div class="form-group">
                <label>Confirm New Password</label>
                <p class="text-danger" v-if="errors.has('confirm_password')">{{errors.first('confirm_password')}}</p>
                <input v-model="confirmPassword" name="confirm_password" v-validate="'confirmed:password|required'" type="password" class="form-control" placeholder="Re-enter password to confirm">
              </div>
              <br><br>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-6 text-center">
              <button @click="resetPassword" class="btn bg-blue btn-block" v-if="!loading">RESET PASSWORD</button>
              <a href="javascript:void(0)" class="btn btn-block bg-blue" v-else><span class="fa fa-spinner fa-spin"></span> loading...</a>
            </div>
          </div>
        </app-modal>
      </div>
      
    </div>
</template>
<script>
/* eslint-disable no-undef */
import AppModal from './../commons/modal.vue'
export default {
  components: {AppModal},
  data () {
    return {
      username: '',
      password: '',
      loading: false,
      authFailed: false,
      firstTime: false,
      manager: {},
      showModal: '',
      newPassword: '',
      confirmPassword: ''
    }
  },
  mounted () {
    $('.login-page').fadeIn(1000)
    $('body').css({background: '#117ACB'})
    // console.log(this.$route.query.redirect)
    // this.axios({method: 'get', url: '/api'}).then(response => console.log(response.data))
  },
  methods: {
    resetPassword () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.loading = true
          this.axios({
            method: 'post',
            url: 'manager/password_set',
            data: {password: this.newPassword}
          }).then(response => {
            this.loading = false
            this.$router.push({name: 'Dashboard'})
          }).catch(error => this.loading = false)
        }
      })
    },
    login () {
      if (!this.username || !this.password) {
        return false
      }
      this.loading = true
      this.authFailed = false
      this.axios({
        url: 'manager/login',
        method: 'post',
        data: {
          username: this.username, password: this.password
        }
      }).then(response => {
        // console.log(response.data)
        this.loading = false
        this.$auth.setToken(response.data.access_token)
        let manager = response.data.manager.original

        if (manager.first_login) {
          this.manager = manager
          this.showModal = 'scale-up'
          return
        }

        if (this.$route.query.redirect) {
          this.$router.push({path: `${this.$route.query.redirect}`})
        } else {
          this.$router.push({name: 'Dashboard'})
        }
      }).catch(error => {
        this.authFailed = true
        this.loading = false
        console.log(error)
      })
    }
  }
}
</script>
<style>
body{
  background: #117ACB;
}
  .login-page{
    text-align: center;
    margin-top: 70px;
    display: none;
  }
  .login-page h3{
    color: white !important;
    font-family: AvenirNextLight;
    font-weight: normal !important;
  }
  .login-form h3 b{
    font-family: AvenirNextBold;
  }
  .login-form{
    width: 80%;
    margin: 90px auto 0 auto;
    text-align: center;
  }
  .login-form p{
    color: white;
    margin-bottom: 50px;
  }
  .login-form input{
    transition: 0.5s ease;
    text-align: center;
    background: #117ACB;
    margin-bottom: 50px;
    color: white !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    outline: none;
  }
  .login-form input:focus{
    background: #117ACB;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-color: white;
    box-shadow: none;
  }
  .login-form input::placeholder{
    text-align: center;
    color: white;
    font-family: AvenirNextLight;
    letter-spacing: 0.6px;
  }
  .login-form .button{
    background: white;
    color: #117ACB;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
  }
  .login-form .button:hover{
    color: white;
    border-color: white;
    background: #117ACB;
  }
.login-form .button:active{
  background: white;
  color: #117ACB;
}
</style>
