<template>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
      <div class="add-hotel">
        <h5>Edit Manager Information <slot></slot></h5>
        <p class="text-center" v-if="status.hasError !== null" :class="{'text-danger': status.hasError === true, 'text-success': status.hasError === false}">{{status.message}}</p>
        <form class="add-hotel-form" @submit.prevent="validateBeforeSubmit">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('name')">{{errors.first('name')}}</label>
                <input name="name" v-model="manager.name" v-validate="'required|min:3'" type="text" placeholder="Name" class="form-control"/>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
              <!--<div class="form-group">-->
                <!--<input type="text" placeholder="Contact" class="form-control"/>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('contact')">{{errors.first('contact')}}</label>
                <input name="contact" v-model="manager.contact" v-validate="'required|numeric|min:10'" type="text" placeholder="Contact" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="text-danger" v-if="errors.has('hotel')">{{errors.first('hotel')}}</label>
                <!-- <input type="text" placeholder="Hotel" class="form-control"/> -->
                <select class="form-control" name="hotel" style="padding-bottom: 2px;" v-model="manager.hotel_id" v-validate="'required'">
                  <option value="">Select Hotel</option>
                  <option v-for="(hotel, index) in hotels" :key="index" :value="hotel.id">{{hotel.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button v-if="!loading" type="submit" class="btn bg-blue">\ SUBMIT</button>
              <a href="javascript:void(0)" class="btn bg-blue disabled" v-else><span class="fa fa-spinner fa-spin"></span> Please wait...</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  props: ['goBack', 'manager'],
  data () {
    return {
      status: {hasError: null, message: ''},
      loading: false
    }
  },
  computed: {
    ...mapGetters({
      hotels: 'getHotels'
    })
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.loading = true
          const manager = {name: this.manager.name, contact: this.manager.contact, hotel: this.manager.hotel_id}
          console.log(manager)
          // return
          this.axios({
            url: `managers/${this.manager.id}/update`,
            method: 'put',
            data: manager
          }).then(response => {
            this.loading = false
            console.log(response.data)
            this.status.hasError = false
            this.status.message = 'Manager Info edited successfully'
            this.$store.dispatch('editManager', response.data.manager)
          }).catch(error => {
            console.log(error)
            this.loading = false
            this.status.hasError = true
            this.status.message = 'Oops, Something unexpected happened when updating Manager info'
          })
        }
      })
    }
  }
}
</script>
<style scoped>
  .add-hotel{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  h5{
    font-family: Lato;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  h5 a{
    /*display: inline-block;*/
    background-color: rgba(155, 155, 155, 0.32);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  /*h5 a:hover i{*/
  /*background: red;*/
  /*color: white;*/
  /*}*/
  .add-hotel-form{
    padding: 30px;
  }
  .add-hotel-form .row{
    margin-bottom: 20px;
  }
  .add-hotel-form .form-control{
    padding: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dddddd;
    border-radius: 0px;
    transition: border-bottom-color 0.5s ease;
  }
  .add-hotel-form .form-control:focus{
    outline: none;
    box-shadow: none;
    border-bottom-color: #117ACB;
  }
  .btn{
    border-radius: 20px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    display: inline-block;
    text-align: center;
    width: 40%;
  }
</style>
